<% title 'New user' %>
<div class="row">
  <div class="container-fluid">
    <div class="pull-right">

      <%= link_to users_path, class: 'btn btn-default' do %>
          <span></span>
          Back
      <% end %>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <%= yield(:title) %>
      </div>
      <div class="card-body">

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>