<% title 'Editing Assignment Queue' %>

<div class="row">
  <div class="container-fluid">
    <div class="pull-right">
      <%= link_to assignment_queues_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Back
      <% end %>
      <%= link_to @assignment_queue, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-info-sign"></span>
          Show
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Assignment Queues
      </div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>


