<div class="card">
  <div class="card-header">
    <h5><strong>Upcoming Training Sessions</strong></h5>
  </div>

  <div class="card-body">
    <%= render 'training_sessions/training_session_table' %>
  </div>
</div>